#tasksListView .km-details:after,
#tasksListView .km-details:before {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

#tasksListView .grid {
    width: 100%;
    padding: 0 20px 0 20px;
}

#tasksListView .grid > table {
    width: 100%;
    border-collapse: collapse;
}

#tasksListView .grid > table > thead > tr > th 
{
    font-size: 1.3em;
    text-align: left;
    padding: 0 1em 5px 0;
    font-weight: lighter;
    border-bottom: 1px solid #ccc;
}

#tasksListView .grid > table > tbody > tr > td 
{
    padding: .5em 1em .5em 0;
    text-align: left;
    font-size: 1em;
    font-weight: lighter;
    color: #787878;
    border-bottom: 1px solid #e1e1e1;
}

#tasksListView .grid > table > tbody > tr > td:last-child
{
    width:1%;
    white-space:nowrap;
}