#menuPageView .div00{
    position:absolute;
    width:50%;
    height:33.33%;
    left:0;
    top:0;
    display: flex;
}
#menuPageView .div01{
    position:absolute;
    width:50%;
    height:33.33%;
    right:0;
    top:0;
    display: flex;
}
#menuPageView .div10{
    position:absolute;
    width:50%;
    height:33.33%;
    left:0;
    top:33.33%;
    display: flex;
}
#menuPageView .div11{
    position:absolute;
    width:50%;
    height:33.33%;
    right:0;
    top:33.33%;
    display: flex;
}
#menuPageView .div20{
    position:absolute;
    width:50%;
    height:33.33%;
    left:0;
    bottom:0;
    display: flex;
}
#menuPageView .div21{
    position:absolute;
    width:50%;
    height:33.33%;
    right:0;
    bottom:0;
    display: flex;
}
#menuPageView .btn{
    width: 80%;
    height: 60%;
    text-align: left;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    vertical-align: middle;
    margin: auto 10% auto 10%;
}

#menuPageView .km-button .bigButtonWithIcon{
    height: 100%;
}
#menuPageView .km-button .bigButtonWithIcon .icon{
    height: 100%;
}
#menuPageView .agentInfo{
    background-image: url("img/test.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#menuPageView .km-button .bigButtonWithIcon .text{
    font-size: 1.2vw;
}

.km-button .km-state-active {
    box-shadow: inset 5px 5px 20px 0px rgba(0,0,0,0.75);
}