#menuPageView .div00{
    position:absolute;
    width:50%;
    height:33.33%;
    left:0;
    top:0;
    display: flex;
}
#menuPageView .div01{
    position:absolute;
    width:50%;
    height:33.33%;
    right:0;
    top:0;
    display: flex;
}
#menuPageView .div10{
    position:absolute;
    width:50%;
    height:33.33%;
    left:0;
    top:33.33%;
    display: flex;
}
#menuPageView .div11{
    position:absolute;
    width:50%;
    height:33.33%;
    right:0;
    top:33.33%;
    display: flex;
}
#menuPageView .div20{
    position:absolute;
    width:50%;
    height:33.33%;
    left:0;
    bottom:0;
    display: flex;
}
#menuPageView .div21{
    position:absolute;
    width:50%;
    height:33.33%;
    right:0;
    bottom:0;
    display: flex;
}
#menuPageView .btn{
    width: 80%;
    height: 60%;
    text-align: left;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    vertical-align: middle;
    margin: auto 10% auto 10%;
    font-size: 1.2vw;
    display: flex;
}
#menuPageView .btn .km-icon{
    margin-left: 0;
    height: 100%;
}
#menuPageView .btn span{
    margin:auto .3em auto 0;
}
.km-agent:after,
.km-agent:before {
    background-image: url("img/Topic-100.png");
    -webkit-background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
.km-state-active .km-agent:after,
.km-state-active .km-agent:before {
    background-image: url("img/Topic Filled-100.png");
    -webkit-background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
.km-calendar:after,
.km-calendar:before {
    background-image: url("img/Inbox-100.png");
    -webkit-background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
.km-state-active .km-calendar:after,
.km-state-active .km-calendar:before {
    background-image: url("img/Inbox Filled-100.png");
    -webkit-background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
.km-chart:after,
.km-chart:before {
    background-image: url("img/LOL-100.png");
    -webkit-background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
.km-state-active .km-chart:after,
.km-state-active .km-chart:before {
    background-image: url("img/LOL Filled-100.png");
    -webkit-background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
.km-task:after,
.km-task:before {
    background-image: url("img/Online-100.png");
    -webkit-background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
.km-state-active .km-task:after,
.km-state-active .km-task:before {
    background-image: url("img/Online Filled-100.png");
    -webkit-background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
.km-doc:after,
.km-doc:before {
    background-image: url("img/Sent-100.png");
    -webkit-background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
.km-state-active .km-doc:after,
.km-state-active .km-doc:before {
    background-image: url("img/Sent Filled-100.png");
    -webkit-background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
.km-favorite:after,
.km-favorite:before {
    background-image: url("img/Surprised-100.png");
    -webkit-background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}
.km-state-active .km-favorite:after,
.km-state-active .km-favorite:before {
    background-image: url("img/Surprised Filled-100.png");
    -webkit-background-clip: border-box;
    background-size: contain;
    background-repeat: no-repeat;
}