#currentDate {
    margin-right: 10px;
}

.km-rightmenu:after,
.km-rightmenu:before {
    content: "\e0ab";
}
.km-list-button:before, 
.km-list-button:after  { 
    content: "\E077"; 
}
.km-data-button:before, 
.km-data-button:after { 
    content: "\E0B0"; 
}
.km-flag:before, 
.km-flag:after { 
    content: "\e09f"; 
}
.km-response:before, 
.km-response:after { 
    content: "\e093";
    text-align: center;
    line-height: 1.5em;
}
.km-attachment:before, 
.km-attachment:after { 
    content: "\e083";
    text-align: center;
    line-height: 1.5em;
}
.km-tablet .km-filter-wrap {
    margin: 0 auto;
    max-width: 100%;
}

.bottom-line {
    border-style: solid;
    border-color: #cdcdcd;
    border-width: 0 0 1px 0;
}
.km-view .km-navbar .km-button{
    padding: .3em .6em;
}
.km-view .km-navbar .km-button .km-icon{
    width: 1.5em;
    height: 1.5em;
}