#currentDate {
    margin-right: 10px;
}

.km-rightmenu:after,
.km-rightmenu:before {
    content: "\e0ab";
}
.km-list-button:before, 
.km-list-button:after  { 
    content: "\E077"; 
}
.km-data-button:before, 
.km-data-button:after { 
    content: "\E0B0"; 
}

.km-tablet .km-filter-wrap {
    margin: 0 auto;
    max-width: 100%;
}

.bottom-line {
    border-style: solid;
    border-color: #cdcdcd;
    border-width: 0 0 1px 0;
}

.km-back-button:after,
.km-back-button:before {
    content: "\e0e2";
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.active-tr{
    background-color: rgb(51, 136, 204);
    color:white;
}
.active-tr td{
    color:white !important;
}