.grid {
    width: 100%;
}
.grid > table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.grid > table > thead > tr > th {
    text-align: left;
    padding: .4em .6em;
    font-weight: lighter;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    border-style: solid;
    border-color: #cdcdcd;
    border-width: 0 0 0 1px;
    overflow: hidden;
}
.grid > table > thead > tr > th:first-child,
.grid > table > tbody > tr > td:first-child{
    border-width: 0;
}
.grid > table > tbody > tr:nth-child(odd){
    background-color: rgb(249,249,249);
}
.grid > table > tbody > tr > td {
    padding: .4em .6em;
    text-align: left;
    font-weight: lighter;
    color: #787878;
    border-style: solid;
    border-color: #cdcdcd;
    border-width: 0 0 0 1px;
    line-height: 1.6em;
    vertical-align: middle;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.grid.k-content.km-widget.km-navbar{
    border-width: 0 0 1px 0;
}
.active-tr{
    background-color: rgb(51, 136, 204) !important;
}
.active-tr td{
    color:white !important;
}