#tasksMenuView .km-details:after,
#tasksMenuView .km-details:before {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
#tasksMenuView .cell-00{
    position:absolute;
    width:33.33%;
    height:33.33%;
    left:0;
    top:0;
    display: flex;
}
#tasksMenuView .cell-01{
    position:absolute;
    width:33.33%;
    height:33.33%;
    right:33.33%;
    top:0;
    display: flex;
}
#tasksMenuView .cell-02{
    position:absolute;
    width:33.33%;
    height:33.33%;
    right:0;
    top:0;
    display: flex;
}
#tasksMenuView .cell-10{
    position:absolute;
    width:33.33%;
    height:33.33%;
    left:0;
    top:33.33%;
    display: flex;
}
#tasksMenuView .cell-11{
    position:absolute;
    width:33.33%;
    height:33.33%;
    right:33.33%;
    top:33.33%;
    display: flex;
}
#tasksMenuView .cell-12{
    position:absolute;
    width:33.33%;
    height:33.33%;
    right:0;
    top:33.33%;
    display: flex;
}
#tasksMenuView .cell-20{
    position:absolute;
    width:33.33%;
    height:33.33%;
    left:0;
    bottom:0;
    display: flex;
}
#tasksMenuView .cell-21{
    position:absolute;
    width:33.33%;
    height:33.33%;
    right:33.33%;
    bottom:0;
    display: flex;
}
#tasksMenuView .cell-22{
    position:absolute;
    width:33.33%;
    height:33.33%;
    right:0;
    bottom:0;
    display: flex;
}

#tasksMenuView .btn{
    width: 80%;
    height: 70%;
    text-align: left;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
    vertical-align: middle;
    margin: auto 10% auto 10%;
}

#tasksMenuView .km-button .text{
    font-size: 1.2vw;
    width: 100%;
}
#tasksMenuView .km-button .value{
    text-align: right;
    width: 100%;
}
#tasksMenuView .km-button .fullheight{
    height: 100%;
}